import * as S from './styles'

const {{pascalCase name}} = () => {
  return (
    <S.{{pascalCase name}}Container>
      <h1>{{pascalCase name}}</h1>
    </S.{{pascalCase name}}Container>
  )
}

export default {{pascalCase name}}
